<form (ngSubmit)="createDish()">

  <div class="form-group">

    <label for="name">Name</label>

    <input

      type="text"

      name="name"

      id="name"

      class="form-control"
      #nameInput
    />

  </div>


  <div class="form-group">

    <label for="imageUrl">Email</label>

    <input

      type="text"

      name="imageUrl"

      id="imageUrl"

      class="form-control"

      #emailInput

    />

  </div>

  <div>
    <input type="checkbox"  #activeInput/>
    <label>Is Active</label>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>

</form>
