<h1>Hello</h1>

<div>
  <div style="display: inline-block">
    <app-new-user></app-new-user>
    <div style="margin-top: 50px">
      <hr/>

      <app-new-user-group></app-new-user-group>
    </div>
  </div>


  <div style="display: inline-block; margin-left: 20px">
    <app-users></app-users>
  </div>
  <div style="display: inline-block; margin-left: 20px">
    <app-groups></app-groups>
  </div>
</div>



