<form (ngSubmit)="createGroup()">

  <div class="form-group">

    <label for="imageUrl">Name group</label>

    <input

      type="text"

      name="imageUrl"

      id="imageUrl"

      class="form-control"

      #nameInputGr

    />

  </div>

  <button type="submit" class="btn btn-primary">Create</button>

</form>
